<!DOCTYPE html>
<html
  lang="en"
  th:insert="base::parent(~{::.service-page},~{::title},~{::script})"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Service</title>
  </head>
  <body>
    <div class="service-page">
      <h1>This is Contact Page</h1>

      <section>
        <p>********************************************</p>
        <h2>This is dynamic Contact page</h2>
        <p>Service is logged in</p>
        <p>********************************************</p>
      </section>
    </div>
  </body>
</html>
