<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parent(~{::.service-page},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${loggedInUser} +'| Contact'">Document</title>
  </head>
  <body>
    <div class="service-page">
      <div th:if="${loggedInUser}">
        <div th:insert="~{User/sidebar::sidebar}"></div>
      </div>

      <div class="pl-64">
        <div class="grid grid-cols-12">
          <div class="col-span-4"></div>
          <div class="col-span-4">
            <a
              href="#"
              class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
              <p
                class="font-normal text-gray-700 dark:text-gray-400"
                th:replace="messageAlert::alertMessage"
              ></p>
              <h5
                class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Add Contact
              </h5>
              <p class="font-normal text-gray-700 dark:text-gray-400">
                Add New Contact .....
              </p>
              <form
                th:action="@{'/user/contact/add'}"
                method="POST"
                th:object="${contactDetail}"
                enctype="multipart/form-data"
              >
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Email</label
                  >
                  <div class="relative mb-2">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-regular fa-envelope"></i>
                    </div>
                    <input
                      type="text"
                      th:field="*{emailContact}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name@flowbite.com"
                    />
                    <p
                      th:if="${#fields.hasErrors('emailContact')}"
                      th:errors="*{emailContact}"
                      class="text-red-500"
                    ></p>
                  </div>

                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Username</label
                  >
                  <div class="relative mb-2">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-regular fa-user"></i>
                    </div>
                    <input
                      type="text"
                      th:field="*{contactName}"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Username"
                    />
                  </div>
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >PhoneNumber</label
                  >
                  <div class="relative mb-2">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-regular fa-phone"></i>
                    </div>
                    <input
                      th:field="*{phonenoContact}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Phone number"
                    />
                  </div>
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Your Address</label
                  >
                  <div class="relative mb-2">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-regular fa-address-book"></i>
                    </div>
                    <input
                      th:field="*{address}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Address"
                    />
                  </div>
                  <div class="mb-2">
                    <label
                      for="message"
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      >Description</label
                    >
                    <textarea
                      th:field="*{descContact}"
                      id="message"
                      rows="4"
                      class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Write your Description here..."
                    ></textarea>
                  </div>

                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Website</label
                  >
                  <div class="relative mt-2">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-globe"></i>
                    </div>
                    <input
                      th:field="*{websiteLink}"
                      type="text"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Enter Website link"
                    />
                  </div>
                  <div class="mb-3">
                    <label
                      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                      for="file_input"
                      >Upload Picture</label
                    >
                    <input
                      id="image_input"
                      th:field="*{pictureContact}"
                      class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                      type="file"
                    />
                    <p
                      th:if="${#fields.hasErrors('pictureContact')}"
                      th:errors="*{pictureContact}"
                      class="text-red-500"
                    ></p>
                    <img
                      src=""
                      class="max-h-24 mx-auto"
                      id="uploadImagePreview"
                      alt=""
                    />
                  </div>

                  <div class="flex items-center mb-3">
                    <input
                      th:field="*{fav}"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="link-checkbox"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Favourite Contact?
                    </label>
                  </div>
                  <div
                    class="button_container flex justify-center items-center"
                  >
                    <button
                      type="submit"
                      class="px-2 py-2 rounded bg-gray-800 text-white f"
                    >
                      Add Contact
                    </button>
                  </div>
                </div>
              </form>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script th:src="@{/js/admin.js}"></script>
  </body>
</html>
