<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base::parent(~{::.service-page},~{::title},~{::script})}"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${loggedInUser} +' | Profile'">Document</title>
  </head>
  <body>
    <div class="service-page">
      <div th:if="${loggedInUser}">
        <div th:insert="~{User/sidebar::sidebar}"></div>
      </div>
    </div>
    <script>
      console.log("hello");
    </script>
  </body>
</html>
